body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
}

main {
    text-align: center;
    font-size: 17px;
    padding: 1em 0;
}

header {
    padding: 1.5em 0 0.5em 0;
    border-bottom: 3px solid #800000;
}

footer {
    background-color: #800000;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}